@model System.Web.Mvc.HandleErrorInfo
@{
    ViewBag.Title = "Error";
    var ex = Model.Exception as System.Data.Entity.Infrastructure.DbUpdateException;
}
<h1 class="text-danger">傳入 SQL Server 的查詢與法錯誤</h1>
<h2>@ex.Message</h2>
<pre>@ex.ToString()</pre>
